.title h1 {
    color: #987554;
}


.title {
    background-color: #472b17;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titlecenter {
    display: flex;
    align-items: center;
    position: fixed;
}

.titleleft {
    color:#987554;
    display: flex;
    align-items: center;
}

.borders {
    background-color:#987554;
    display: flex;
    height: 100vh;
    width: 10px;
    position: fixed;
    z-index: 10;
}

.footer {
    background-color: #664229;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    position: fixed;
    width: 100vw;
    bottom: 0;
}

.footer, h1 {
    color: #987554;
}

.footer, a {
    color: #987554;
}

.recipedetails{
    display: flex;
    margin: 20px;
    flex-direction: row;
    justify-content: space-between;
}

.recipeimagecard{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #987554;
    border-radius: 40px;
    border-color: #472b17;
    width: 45vw;
    height: 60vh;
    overflow: hidden;
}

.recipeimagecard img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 40px;
}

.recipetextcard{
    background-color: #987554;
    color: #472b17;
    border-radius: 40px;
    border-color: #472b17;
    width: 48vw;
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

.recipetextcard h1{
    color: #472b17;
}

.recipetextcard li,ol,ul{
    font-size: 24px;
}

