body {
    font-family: "Work Sans", sans-serif;
}

.title, h1 {
    color: #987554;
    display: flex;
    justify-content: center;
}


.title {
    background-color: #472b17;
    display: flex;
    align-items: center;
}


.borders {
    background-color:#987554;
    display: flex;
    height: 100vh;
    width: 10px;
    position: fixed;
    z-index: 10;
}

.footer {
    background-color: #664229;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100vw;
    bottom: 0;
}

.footer, h1 {
    color: #987554;
}

.footer, a {
    color: #987554;
}

.itemsList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item {
    background-color: whitesmoke;
    width: 95vw;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: transform 0.25 ease, box-shadow 0.25s ease;
    }

.item:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
    z-index: 20;
}

.itemimg {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 20px;
}

.itemtexts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.itemtext {
    color: #664229;
    margin: 10px;
}

.home {
    position: sticky left;
    
}